.idea
/minipress.core/press.appli/src/conf/db.conf
/minipress.core/press.appli/src/vendor/composer/installed.php
/minipress.core/press.appli/src/vendor/*
/minipress.core/press.appli/src/templates/cache/*

/minipress.core/press.api/src/conf/db.conf
/minipress.core/press.api/src/vendor/composer/installed.php
/minipress.core/press.api/src/vendor/*