{% extends "squelette.twig" %}

{% block content %}
    <div class="container flex-column">
        <h1>Articles</h1>
        <div>
            {% for art in articles_liste %}
                <h2>{{ art['titre'] }}</h2>
                {{ art['resume']|raw }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
