{% extends "squelette.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}

    <div class="container flex-column center">
        <h1 id="articles-title">Articles</h1>
        <hr/>
        <div id="articles-list">
            <ul>
                {% if articles|length > 0 %}
                    {% for art in articles %}
                        <div class="articles_list_item flex-row">
                            <h2 id="article-titre">{{art.titre}}</h2>
                            <p>paru le : {{art.date_creation}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <li>Aucun article trouvé.</li>
                {% endif %}
            </ul>
        </div>

    </div>

{% endblock %}
