{% extends "squelette.twig"%}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1>Articles</h1>
<ul>
    {% for cat in categories %}
    <li>
        <h2>{{cat.titre}}</h2>
        {% endfor %}
</ul>
{% endblock %}
