{% extends "squelette.twig" %}

{% block content %}

        <h1 id="categories-title">Categories</h1>
        <hr/>
        <div id="categories_list">
            {% for cat in categories %}
                <a href="{{ url_for('getCategoriesById', { 'id': cat.id }) }}">
                    <div class="categories_list_item flex-row">

                        <h2>{{ cat.titre }}</h2>
                        <h3>{{ cat.description }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
{% endblock %}
