{% extends "squelette.twig" %}

{% block content %}
    {% if error %}
        <p class="styleError">{{ error }}</p>
    {% endif %}
<form action="{{ url_for('createUser') }}" method="POST">
    <label for="username">Nom d'utilisateur (@email):</label>
    <input type="email" name="email" id="email" class="form_input">

    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" class="form_input">

    <label for="admin">Administrateur : <input type="checkbox" name="admin" id="admin"></label>

    <input type="submit" value="valider">
</form>
{% endblock %}