{% extends "squelette.twig"%}

{% block content %}

<h2>La catégorie a été créée avec les informations suivantes :</h2>
<ul>
    <li>id : {{id}}</li>
    <li>titre : {{titre}}</li>
    <li>description : {{description}}</li>
</ul>
    <div id="submit-container" class="flex-row">
        <span></span>
        <a href="{{ url_for('home') }}">
            <button class="button">Retour</button>
        </a>
    </div>

{% endblock %}