{% extends "squelette.twig"%}

{% block content %}

<h2>La catégorie a été créée avec les informations suivantes :</h2>
<ul>
    <li>id : {{data.id}}</li>
    <li>titre : {{data.titre}}</li>
    <li>description : {{data.description}}</li>
</ul>

{% endblock %}