<header>
    <div class="logo">
        <img src="images/logo.png" alt="My Gift Box">
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/prestations">Prestations</a></li>
            <li><a href="/box/create">Créer une box</a> </li>
        </ul>
    </div>
</header>