{% extends "squelette.twig" %}

{% block content %}
    <div id="home" class="flex-column">
        <h1>Bienvenue sur Minipress</h1>
        <p>Minipress est un simple CMS d'articles fait en PHP et Twig.</p>
    </div>
{% endblock %}