{% extends "squelette.twig" %}

{% block content %}
    <div class="container flex-column center">
        <form action="{{ url_for('loginAction') }}" method="POST">
            <label for="email">Nom d'utilisateur :</label>
            <input type="text" name="email" id="email">

            <label for="password">Mot de passe :</label>
            <input type="password" name="password" required id="password">

            <input type="hidden" name="target" value="{{ resources['target'] }}">
            <div id="submit-container" class="flex-row">
                <a href="{{ url_for('register') }}">Nouveau ?</a>
                <input type="submit" value="Se connecter">
            </div>
        </form>
    </div>
{% endblock %}