<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/menu.css" ;>
</head>

<header>
    <div class="nom">
        <h1>MiniPress : Login</h1>
    </div>
</header>
<body>
<form action="{{ url_for('loginAction') }}" method="POST">
    <label for="email">Nom d'utilisateur :</label>
    <input type="text" name="email" id="email">

    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password">

    <input type="hidden" name="target" value="{{ resources['target'] }}">
    <input type="submit" value="Se connecter">
</form>

{% include 'footer.twig' %}

</body>
</html>