<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Minipress</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/menu.css";>
    <link rel="stylesheet" href="/css/main.css";>
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'header.twig' %}
<div id="content">
    <div id="container">
    {% block content %} {% endblock %}
    </div>
    {% include 'footer.twig' %}
</div>

</body>
</html>