<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Minipress</title>
    <meta charset="UTF-8">
</head>
<body>
{% include 'header.twig' %}
<div class="content">
    {% block content %} {% endblock %}
</div>
<br />
<br />
<br />
<br />
{% include 'footer.twig' %}
</body>
</html>