<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Minipress</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="stylesheet" href="/css/layout/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'header.twig' %}
<div id="content">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include 'footer.twig' %}
</div>
</body>
</html>