@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: calc(100vh - 160px);
}

.container {
    width: 100%;
    height: 100%;
}

hr {
    width: 85%;
    margin-bottom: 2em;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #212121;
}

/* ---------------------------- ERROR ---------------------------- */

.error {
    width: 100%;
    padding: 1em 0;

    color: #DE3C4B;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;

    background: rgba(222, 60, 75, 0.1);
}

/* ---------------------------- FORMULAIRE ---------------------------- */

/* Styliser le formulaire */
form {
    width: 500px;
    margin: 5em auto;
}

/* Styliser les étiquettes */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

/* Styliser les champs de saisie */
input {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

/* Styliser le bouton de soumission */
input[type="submit"] {
    width: 40%;
    padding: 0.5em;

    border: none;
    border-radius: 4px;

    background-color: #030151;

    color: white;
    font-size: 1em;

    cursor: pointer;
}

/* Changer le style du bouton au survol */
input[type="submit"]:hover {
    background-color: #6279B8;
    transition: background-color 0.5s ;
}

/* Changer le style du bouton lorsqu'il est pressé */
input[type="submit"]:active {
    background-color: #8EA4D2;
}

#submit-container {
    justify-content: space-between;
    align-items: center;
}

#submit-container a {
    font-size: 1.1em;
    font-weight: 300;
}

#submit-container a:hover {
    color: #6279B8;
    transition: ease-in-out .5s;
}

/* ---------------------------- CATEGORIES ---------------------------- */

#categories-title {
    margin: 1em 0 0.25em 0;
    padding: 0;

    font-size: 2em;
    font-weight: 300;

    text-transform: uppercase;
}

#categories_list {
    width: 100%;
    height: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
}

.categories_list_item {
    margin: 0 0 1em 0;
    padding: 1em 0;

    width: 100%;

    align-items: center;

    background: rgba(3, 3, 255, 0.1);
}

.categories_list_item:hover {
    background: rgba(2, 2, 255, 0.2);
    transition: ease-in-out .5s;
}

.categories_list_item h2 {
    margin: 0 1em 0 6em;
    padding: 0;

    font-size: 1.5em;
    font-weight: 300;

    text-transform: uppercase;
}

.categories_list_item h3 {
    margin: 0;
    padding: 0;

    font-size: 1.1em;
    font-weight: 400;
}

/* ---------------------------- ARTICLES ---------------------------- */

#users-title {
    margin: 1em 0 0.25em 0;
    padding: 0;

    font-size: 2em;
    font-weight: 300;

    text-transform: uppercase;
}

#users_list {
    width: 100%;
    height: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
}

.users_list_item:hover {
    background: rgba(2, 2, 255, 0.2);
    transition: ease-in-out .5s;
}

.users_list_item h2 {
    margin: 0.75em 1em 0.75em 6em;
    padding: 0;

    font-size: 1.5em;
    font-weight: 300;
}

#user-email {
    width: 30%;
}


