RewriteEngine On

# RewriteBase doit être défini à la racine de votre application
# RewriteBase /minipress.core/press.appli/public

# Empêcher l'accès aux répertoires contenant du code
# RewriteRule ^sql(/.*|)$ - [NC,F]
# RewriteRule ^src(/.*|)$ - [NC,F]

# Réécriture pour Slim
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]